/*----------------------------
	knobKnob Styles
-----------------------------*/

/* ?? mais necessaire au bon positionnement de l'ensemble*/
.knob{
	width:  400px;
	height:  400px;
	position:relative;
}

/* Image du bouton */
.knob .top{
	position:absolute;
	top:0;
	left:0;
	width:  400px;
	height:  400px;
	background:url('knob.png') no-repeat;
	z-index:10;
	cursor:default !important;
}

/* Ombre sous le bouton */
.knob .base{
	width:  400px;
	height:  400px;
	border-radius:50%;
	box-shadow:0 10px 0 #4a5056,10px 10px 10px #000;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}

/*Point noir qui tourne avec le bouton*/
.knob .top:after{
	content:'';
	width:30px;
	height:30px;
	background-color:#AADEFF;
	position:absolute;
	top:50%;
	left:10px;
	margin-top:-5px;
	border-radius: 50%;
	cursor:default !important;
	box-shadow: 0 0 10px #7EA4FF ;
}
